.defTitle {
  font-size: 1.5em;
  padding: 0.5em 0;
}

.dictFont {
  font-family: serif;
}

.reducePadding {
  padding: 0;
  margin: 0;
}

h1.inline, h2.inline, h3.inline {
  display: inline-block;
}

ul.definitions {
  list-style-type: decimal;
  text-align: left;
}

ul.definitions li {
  padding: 0.5em;
}

.details {
  padding: 1.3em 0px;
  font-style: italic;
}
