#mainPage {
  background-color: black;
  min-height: 100vh;
  width: 100%;
  color: white;
  padding: 0;
  margin: 0;
}

.infoSection {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: 1.2em;
}

.mainDiv {
  padding: 0 1.6em;
  max-width: 30%;
  text-align: center;
}

.social-icon {
  color: white;
  padding: 10px;
  font-size: 2em;
}

.social-icon:hover {
  color: grey
}

#imgMe {
  height: 22em;
  border-radius: 40%;
}

 ul {
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

 ul li {
  display: inline;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .infoSection {
    display: flex;
    flex-direction: column;
  }

  #imgMe {
    height: 15em;
  }

  .mainDiv {
    max-width: 70%;
  }
}
