#websitePage {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.layer {
  position: absolute;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

.contentWrap {
  position: absolute;
  width: 100vw;
  min-height: 100vh;
}

.contentBody {
    width: 100%;
    position: absolute;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
}

#main {
  background-color: black;
  color: white;
  font-size: 1.3em;
  z-index: 2;
  transform: skew(-45deg);
  margin-left: -1000px;
  width: calc(110vw + 1000px);
}

#definition {
  background-color: #31FEE9;
  color: black;
  z-index: 1;
  font-size: 1.3em;
}

#main .contentWrap {
  transform: skew(45deg);
  margin-left: 1000px;
}

#definition .contentWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-content: flex-start;
}

#definition .contentWrap .contentBody {
  max-width: 60%;
}

#slider {
  position: absolute;
  background-color: #FFFFFF;
  z-index: 3;
  transform: rotate(45deg) translateY(-50%);
  transform-origin: top;
  top: 50%;
  height: 200%;
  margin-left: -1000px;
  left: calc(110vw + 1000px);
  width: 3px;
}

