#hoverPage {
  background-color: #31FEE9;
  min-height: 100vh;
  width: 100%;
  color: #575B5B;
  padding: 0;
  margin: 0;
}

.secDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: 1.2em;
  flex-direction: column;
  align-content: flex-start;
}

h1.inline, h3.inline {
  display: inline-block;
}

ul.definitions {
  list-style-type: decimal;
  text-align: left;
}

ul.definitions li {
  padding: 0.5em;
}
